<footer class="main-footer">
  <strong>Poliview CRM</strong>
  - Administrador Espaço Cliente
  <div class="float-right d-none d-sm-inline-block">
    <b>Versão</b> 4.3.0 build 29
  </div>
</footer>
@code {

}