@page "/carrossel"

<div>

    <h1>Blazor Slick Carousel Demo</h1>
    <h2>Responsive implementation demo.</h2>

    <BlazorSlickCarousel>
    <BlazorSlickCarouselContent>
        <div>
            <div>Test 1</div>
        </div>
        <div>
            <div>Test 2</div>
        </div>
        <div>
            <div>Test 3</div>
        </div>
        <div>
            <div>Test 4</div>
        </div>
    </BlazorSlickCarouselContent>
    <BlazorSlickCarouselLoading>
        <p>Carregando, aguarde...</p>
    </BlazorSlickCarouselLoading>
    </BlazorSlickCarousel>
    
</div>

@code {

}
