.section-cards {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-cards-items {
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.container-cards-items-title {
    background-color: #c24141;
    color: #fff;
    font-weight: bold;
    padding-top: 2px;
    padding: 10px
}

.container-cards-items-content {
    padding: 1rem;
}

.container-cards-items-content-label {
    color: #c24141;
    padding-right: 20px;
    font-weight: bold;
}

.container-cards-items-content-label-value {
    color: blue;
}

.container-cards-items-content-button {
    flex: 1;
    height: 50px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}